<html>
<head>
	<title>Form</title>
</head>
<body>
	<form method ="POST", action='/save'>
		<label for ="item">Item:</label>
		<input type ="text" name="item"/><br>
		<label for="amount">Amount:</label>
		<input type= "number" name="amount"/><br>
		<input type="Submit" action="Save"/>
	</form> 
</body>
</html>

